In [265]:
import pandas as pd
from pathlib import Path

In [266]:
final = []
folder = Path('temperatures')

for file in folder.iterdir():
    df = pd.read_csv(file)
    final.append(df)

In [267]:
final_df = pd.concat(final,ignore_index='False')

In [268]:
final_df.head()

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,31.48,31.37,28.12,24.81,21.28,17.92,17.20,17.87,20.54,22.98,26.65,28.38
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.24,26.03,25.45,23.50,20.55,18.00,16.95,17.02,18.34,19.52,21.85,23.75
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,38.40,37.32,35.35,31.37,25.18,21.06,20.52,23.71,29.07,31.41,34.38,36.06
3,AMBERLEY-AMO,40004,-27.63,152.71,32.90,31.87,31.21,29.20,26.06,23.38,22.88,24.12,27.58,29.50,31.04,32.28
4,BARCALDINE-POST-OFFICE,36007,-23.55,145.29,38.03,36.21,35.41,31.73,27.46,25.21,24.64,26.46,30.75,34.13,35.93,37.41

In [269]:
final_df.isnull()

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2236,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2237,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2238,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2239,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [270]:
final_df.isnull().any()

STATION_NAME    False
STN_ID          False
LAT             False
LON             False
January         False
February        False
March           False
April           False
May             False
June            False
July            False
August          False
September       False
October         False
November        False
December        False
dtype: bool

In [271]:
final_df = final_df.fillna(0) #if any field is null replaces that with 0 if no null basically this line won't do anything.

In [272]:
summer = ['December','January','February']
autumn = ['March','April','May']
winter = ['June','July','August']
spring = ['September','October','November']

In [273]:
seasonal_avg = {}
seasonal_avg['Summer'] = final_df[summer].mean().mean()
print(seasonal_avg['Summer'])

32.103751488095234

In [274]:
seasonal_avg['Autumn'] = final_df[autumn].mean().mean()
seasonal_avg['Winter'] = final_df[winter].mean().mean()
seasonal_avg['Spring'] = final_df[spring].mean().mean()

In [275]:
with open('average_temp.txt', 'w') as file:
    for season, avg in seasonal_avg.items():
        file.write(f'{season}:{round(avg,2)}°C\n')

Part 2

In [276]:
final_df.head()

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,31.48,31.37,28.12,24.81,21.28,17.92,17.20,17.87,20.54,22.98,26.65,28.38
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.24,26.03,25.45,23.50,20.55,18.00,16.95,17.02,18.34,19.52,21.85,23.75
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,38.40,37.32,35.35,31.37,25.18,21.06,20.52,23.71,29.07,31.41,34.38,36.06
3,AMBERLEY-AMO,40004,-27.63,152.71,32.90,31.87,31.21,29.20,26.06,23.38,22.88,24.12,27.58,29.50,31.04,32.28
4,BARCALDINE-POST-OFFICE,36007,-23.55,145.29,38.03,36.21,35.41,31.73,27.46,25.21,24.64,26.46,30.75,34.13,35.93,37.41

In [277]:
final_df.columns[4:16]

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [278]:
month = final_df.columns[4:16]
month

Index(['January', 'February', 'March', 'April', 'May', 'June', 'July',
       'August', 'September', 'October', 'November', 'December'],
      dtype='object')

In [279]:
max_temp_month = final_df.groupby('STATION_NAME')[month].max()
max_temp_month.head()

,January,February,March,April,May,June,July,August,September,October,November,December
STATION_NAME,,,,,,,,,,,,
ADELAIDE-KENT-TOWN,32.91,33.13,30.28,26.83,23.29,19.62,18.35,19.45,22.38,25.02,29.38,31.40
ALBANY-AIRPORT-COMPARISON,27.64,28.16,28.01,25.73,22.49,19.44,18.95,19.29,20.74,22.39,24.51,26.75
ALICE-SPRINGS-AIRPORT,42.69,40.99,38.85,34.63,28.62,24.96,23.66,28.19,33.56,36.69,39.05,40.75
AMBERLEY-AMO,36.22,35.43,34.34,32.13,28.96,26.63,26.43,27.63,31.68,34.24,35.00,35.61
BARCALDINE-POST-OFFICE,40.41,39.94,39.79,35.80,32.26,28.78,28.18,30.86,35.44,39.20,40.15,40.33

In [280]:
max_temp_df = max_temp_month.max(axis=1)

In [281]:
max_temp_df

STATION_NAME
ADELAIDE-KENT-TOWN               33.13
ALBANY-AIRPORT-COMPARISON        28.16
ALICE-SPRINGS-AIRPORT            42.69
AMBERLEY-AMO                     36.22
BARCALDINE-POST-OFFICE           40.41
                                 ...
WILSONS-PROMONTORY-LIGHTHOUSE    23.05
WITTENOOM                        43.96
WOOMERA-AERODROME                38.97
WYALONG-POST-OFFICE              37.10
YAMBA-PILOT-STATION              30.17
Length: 112, dtype: float64

In [282]:
min_temp_df = final_df.groupby('STATION_NAME')[month].min().min(axis=1)

In [283]:
min_temp_df

STATION_NAME
ADELAIDE-KENT-TOWN               15.81
ALBANY-AIRPORT-COMPARISON        15.88
ALICE-SPRINGS-AIRPORT            20.52
AMBERLEY-AMO                     21.83
BARCALDINE-POST-OFFICE           23.74
                                 ...
WILSONS-PROMONTORY-LIGHTHOUSE    12.87
WITTENOOM                        25.35
WOOMERA-AERODROME                17.62
WYALONG-POST-OFFICE              14.36
YAMBA-PILOT-STATION              20.11
Length: 112, dtype: float64

In [284]:
range_df = max_temp_df - min_temp_df

In [285]:
range_df

STATION_NAME
ADELAIDE-KENT-TOWN               17.32
ALBANY-AIRPORT-COMPARISON        12.28
ALICE-SPRINGS-AIRPORT            22.17
AMBERLEY-AMO                     14.39
BARCALDINE-POST-OFFICE           16.67
                                 ...
WILSONS-PROMONTORY-LIGHTHOUSE    10.18
WITTENOOM                        18.61
WOOMERA-AERODROME                21.35
WYALONG-POST-OFFICE              22.74
YAMBA-PILOT-STATION              10.06
Length: 112, dtype: float64

In [286]:
max_range = range_df.max()

In [287]:
max_range_station = range_df[range_df == max_range].index

In [288]:
max_range_station

Index(['BOURKE-AIRPORT-AWS'], dtype='object', name='STATION_NAME')

In [289]:
for station in max_range_station:
        max_temp = max_temp_df[station]
        min_temp = min_temp_df[station]
        actual_range = temp_range[station]

print(f'{station}:Range {round(actual_range,2)}°C(Max:{max_temp}°C, Min:{min_temp})°C\n')

BOURKE-AIRPORT-AWS:Range 24.45°C(Max:42.98°C, Min:18.53)°C

In [290]:
with open('largest_temp_range_station.txt', 'w') as file:
    for station in max_range_station:
        max_temp = max_temp_df[station]
        min_temp = min_temp_df[station]
        range = range_df[station]
        file.write(f'{station}:Range {round(range,2)}°C(Max:{max_temp}°C, Min:{min_temp})°C\n')

Part 3

In [291]:
final_df.head()

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,31.48,31.37,28.12,24.81,21.28,17.92,17.20,17.87,20.54,22.98,26.65,28.38
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.24,26.03,25.45,23.50,20.55,18.00,16.95,17.02,18.34,19.52,21.85,23.75
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,38.40,37.32,35.35,31.37,25.18,21.06,20.52,23.71,29.07,31.41,34.38,36.06
3,AMBERLEY-AMO,40004,-27.63,152.71,32.90,31.87,31.21,29.20,26.06,23.38,22.88,24.12,27.58,29.50,31.04,32.28
4,BARCALDINE-POST-OFFICE,36007,-23.55,145.29,38.03,36.21,35.41,31.73,27.46,25.21,24.64,26.46,30.75,34.13,35.93,37.41

In [292]:
final_df['row_std'] = final_df[month].std(axis=1)
final_df.head()

,STATION_NAME,STN_ID,LAT,LON,January,February,March,April,May,June,July,August,September,October,November,December,row_std
0,ADELAIDE-KENT-TOWN,23090,-34.92,138.62,31.48,31.37,28.12,24.81,21.28,17.92,17.20,17.87,20.54,22.98,26.65,28.38,5.180983
1,ALBANY-AIRPORT-COMPARISON,9741,-34.94,117.80,25.24,26.03,25.45,23.50,20.55,18.00,16.95,17.02,18.34,19.52,21.85,23.75,3.395952
2,ALICE-SPRINGS-AIRPORT,15590,-23.80,133.89,38.40,37.32,35.35,31.37,25.18,21.06,20.52,23.71,29.07,31.41,34.38,36.06,6.358751
3,AMBERLEY-AMO,40004,-27.63,152.71,32.90,31.87,31.21,29.20,26.06,23.38,22.88,24.12,27.58,29.50,31.04,32.28,3.619068
4,BARCALDINE-POST-OFFICE,36007,-23.55,145.29,38.03,36.21,35.41,31.73,27.46,25.21,24.64,26.46,30.75,34.13,35.93,37.41,4.937263

In [293]:
station_std = final_df.groupby('STATION_NAME')['row_std'].mean()

In [294]:
station_std

STATION_NAME
ADELAIDE-KENT-TOWN               5.199240
ALBANY-AIRPORT-COMPARISON        3.380940
ALICE-SPRINGS-AIRPORT            6.321542
AMBERLEY-AMO                     3.566068
BARCALDINE-POST-OFFICE           4.794537
                                   ...
WILSONS-PROMONTORY-LIGHTHOUSE    2.927823
WITTENOOM                        5.767705
WOOMERA-AERODROME                6.516450
WYALONG-POST-OFFICE              7.087197
YAMBA-PILOT-STATION              2.725050
Name: row_std, Length: 112, dtype: float64

In [295]:
min_std = station_std.min()
min_std

0.9116279357902156

In [296]:
max_std = station_std.max()
max_std

7.145169115500261

In [297]:
min_std_station = station_std[station_std == max_std].index
min_std_station

Index(['WAGGA-WAGGA-AMO'], dtype='object', name='STATION_NAME')

In [298]:
max_std_station = station_std[station_std == min_std].index
max_std_station

Index(['DARWIN-AIRPORT'], dtype='object', name='STATION_NAME')

In [299]:
with open('temperature_stability_stations.txt', 'w') as file:
    for station in max_std_station:
        file.write(f'Most Stable: {station} StdDev {round(min_std,2)}°C\n')
    for station in min_std_station:
        file.write(f'Most Variable: {station} StdDev {round(max_std,2)}°C\n')